[class*="section--article"] {
  position: fixed;
  top: 0;
  left: 0;
}

[class*="section--article"] .btn,
[class*="section--article"] .btn:hover {
  display: inline-block;
  position: relative;
  margin-right: 16px;
  background: white;
  color: black;
  border-color: black;
}

[class*="section--article"] .btn::before {
  background: transparent;
}

[class*="section--article"] .hero {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(50 * var(--w));
  height: calc(100 * var(--h));
  background: radial-gradient(grey, black);
  opacity: 0;
  transform: translateX(-100%);
}

[class*="section--article"] .blockquote {
  display: table;
  position: absolute;
  top: 0;
  right: 0;
  width: calc(50 * var(--w));
  height: calc(100 * var(--h));
  padding: calc(2 * var(--h));
  background: white;
  color: black;
  opacity: 0;
  transform: translateX(100%);
}

[class*="section--article"] .blockquote * {
  position: relative;
}

[class*="section--article"] .blockquote .center {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

[class*="section--article"] .blockquote .center span {
  display: inline-block;
  font-size: calc(6 * var(--h));
}

[class*="section--article"] .article {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100 * var(--w));
  height: calc(100 * var(--h));
  background-color: rgba(255, 255, 255, 0.8);
  color: #222;
}

[class*="section--article"] .article .content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(60 * var(--w));
  height: calc(60 * var(--h));
  padding: 0 16px 16px;
  background-color: white;
  box-shadow: 0px 0px calc(2 * var(--h)) rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  transform: translate(-50%, -50%);
}

[class*="section--article"] .article .article__header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px;
  background-color: white;
  text-align: right;
  z-index: 1;
}

[class*="section--article"] .article .content p {
  position: relative; 
}