header {
  margin: 0 auto 60px;
  max-width: 960px;
  z-index: 1;
}

	header h1::after {
		content: ' | ';
		display: inline-block;
		margin: 0 8px;
		font-size: 1.5em;
		font-weight: normal;
	}

	header h2 {
		padding-right: 80px;
	}
