@import url('./menu.css');
@import url('./header.css');

main {
	padding: 24px;
	width: 100%;
	min-height: 100vh;
	min-height: calc(var(--vh) * 100);
	background-color: var(--bkg-primary);
	color: var(--txt-primary);
}

section {
  margin: 0 auto;
  max-width: 960px;
  letter-spacing: 0.1em;
  line-height: 1.4;
}
