@charset "UTF-8";
/* CSS Document */

.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background-color: #c4bad6;
  background: linear-gradient(to bottom, #c4bad6, #bad6c2);
  color: #333;
  font-family: 'Ubuntu', 'Lucida Sans Unicode', Lato, Arial, sans-serif;
}

  .container__header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 48px;
    background-color: #f8f8f8;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 48px;
    text-align: center;
  }

  .container__content {
    position: absolute;
    top: 48px;
    right: 0;
    bottom: 0;
    left: 0;
  }

    .content__credentials {
      position: absolute;
      top: calc(50vh - 24px);
      left: 50vw;
      width: 50vw;
      height: 50vh;
      min-width: 270px;
      min-height: 330px;
      background-color: #f8f8f8;
      padding: 16px;
      box-sizing: border-box;
      display: none;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }

      .credentials__label {
        display: block;
      } .credentials__label:focus {
        outline: none;
      }

      .credentials__input {
        display: block;
        margin-top: 4px;
        margin-bottom:16px;
        width: 100%;
        font-family: 'Ubuntu', 'Lucida Sans Unicode', Lato, Arial, sans-serif;
        font-size: 14px;
        background: transparent;
        border: none;
        border-bottom: 2px solid #917eb3;
        border-radius: 0;
      } .credentials__input:focus {
        outline: none;
        border-bottom: 2px solid #7d5eb5;
      }

      .credentials__input.invalid {
        border: 1px solid #f04;
        box-shadow: 0px 0px 4px #f04;
      }

      .credentials__input.invalid::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
      }

      .credentials__button {
        display: block;
        margin-bottom: 16px;
        padding: 8px 24px;
        color: #fff;
        background-color: #917eb3;
        border: none;
        cursor: pointer;
        -webkit-transition: background-color 0.3s;
        transition: background-color 0.3s;
      } .credentials__button:hover {
        background-color: #7d5eb5;;
      }

      .credentials__alternative a {
        color: #917eb3;
        -webkit-transition: color 0.3s;
        transition: color 0.3s;
      } .credentials__alternative a:hover {
        color: #7d5eb5;
      }

    .content__board {
      display: none;
    }

  .content__board {
    position: absolute;
    top: calc(50vh - 24px);
    left: 50vw;
    width: 90vw;
    height: calc(90vh - 48px);
    min-width: 270px;
    min-height: 330px;
    background-color: #f8f8f8;
    padding: 16px;
    box-sizing: border-box;
    display: none;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

    .board__welcome {
      font-size: 1.25em;
      text-align: center;
      padding-bottom: 16px;
      border-bottom: 1px solid #e1e1e1;
    }

    .board__notes {
      height: calc(100% - 48px - 30px - 16px);
      overflow-y: auto;
    }

      .notes__note {
        padding-top: 8px;
        padding-bottom: 8px;
        border-bottom: 1px solid #e1e1e1;
      }

    .board__add {
      position: absolute;
      right: 16px;
      bottom: 16px;
      left: 16px;
      height: 30px;
    }

      .add__input {
        width: calc(100% - 100px);
        height: calc(100% - 2px);
        padding-left: 16px;
        border: none;
        border-bottom: 2px solid #917eb3;
        font-family: 'Ubuntu', 'Lucida Sans Unicode', Lato, Arial, sans-serif;
        font-size: 1em;
      } .add__input:focus {
        outline: none;
        border-bottom: 2px solid #7d5eb5;
      }

      .add__submit {
        float: right;
        padding: 8px 24px;
        color: #fff;
        background-color: #917eb3;
        border: none;
        cursor: pointer;
        -webkit-transition: background-color 0.3s;
        transition: background-color 0.3s;
      } .add__submit:hover {
        background-color: #7d5eb5;
      }

:target {
  display: block;
}
