* {
  position: relative;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(#40484f, #282f38);
}