@charset "UTF-8";
/* CSS Document */

:root {
  --prp: #80f;
  --grn: #0f8;
  --red: #f04;
  --wht: #e0e0e8;
  --gry: #606068;
  --blk: #303038;
  --margin: 2vw;
  --ubuntu: 'Ubuntu', sans-serif;
  --open-sans: 'Open Sans', sans-serif;
  --header-height: calc((100vh / 8) * 7);
}

* {
  position: relative;
}

html,
body {
  margin: 0;
}

p, h1, h2, h3 {
  font-size: 1em;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

a,
a:active,
a:focus,
a:visited {
  color: var(--wht);
}

.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 1px;
  perspective-origin: 50% calc(var(--header-height) / 2);
}

.container {
  width: 100%;
  height: 100%;
  color: var(--wht);
  font-family: var(--ubuntu);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.header {
  width: 100%;
  height: var(--header-height);
  background: linear-gradient(20deg, var(--prp), var(--grn));
  font-family: var(--open-sans);
  text-align: center;
  -webkit-transform: translate3d(0, 0, -1px) scale(2.02);
  transform: translate3d(0, 0, -1px) scale(2.02);
}

.header__copy {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.header__title {
  text-transform: uppercase;
}

.header__title--big {
  display: block;
  margin-right: -2vw;
  font-size: 12vw;
  letter-spacing: 2vw;
  line-height: 0.8;
}

.header__title--small {
  font-size: 6vw;
}

.header__subtitle {
  margin-right: -0.2vw;
  font-size: 2vw;
  letter-spacing: 0.2vw;
}

.spacer {
  padding: calc(var(--margin) * 4) 0;
  background-color: var(--blk);
}

.spacer::before {
  content: '';
  display: block;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image: linear-gradient(to right, transparent 0%, transparent 10%, var(--prp) 10.1%, var(--grn) 89.9%, transparent 90%, transparent 100%) 1;
}

.about {
  width: 100%;
  background-color: var(--blk);
  text-align: center;
}

.about__title {
  margin-bottom: var(--margin);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.about__copy {
  display: inline-block;
  padding: 0 var(--margin);
  line-height: 1.5;
}

.projects {
  width: 100%;
  background-color: var(--blk);
}

.projects__title {
  margin-bottom: var(--margin);
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

.projects__list {
  display: flex;
  align-content: stretch;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.projects__item {
  margin-right: var(--margin);
  margin-bottom: var(--margin);
  flex-basis: 30vw;
  flex-grow: 1;
  padding: calc(var(--margin) * 2) var(--margin);
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
}

.projects__link {
  text-decoration: none;
}

.projects__link span {
  display: block;
  margin-bottom: var(--margin);
  font-size: 1.25em;
  text-align: center;
  text-decoration: underline;
}

.projects__link::after {
  content: attr(data-description);
}

.projects__name {
  margin-bottom: 8px;
  font-size: 1.25em;
}

.projects__technologies {
  margin-bottom: 4px;
  color: var(--gry);
  font-size: 0.8em;
  font-style: italic;
}

.projects__browsers {
  margin-bottom: 8px;
  color: var(--gry);
  font-size: 0.8em;
  font-style: italic;
}

.projects__description {
  margin-bottom: 8px;
}

.projects__btn {
  display: inline-block;
  margin: 4px;
  padding: 8px 24px;
  background-color: var(--prp);
  font-size: 0.8em;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}

.projects__btn::before,
.projects__btn::after {
  content: '';
  position: absolute;
  background-color: var(--grn);
}

.projects__btn::before {
  bottom: 0px;
  left: -1px;
  width: 1px;
  height: 0;
} .projects__btn:hover::before {
  width: calc(100% + 1px);
  height: calc(100% + 1px);
  -webkit-transition: height 0.2s ease 0s, width 0.2s ease 0.2s;
  transition: height 0.2s ease 0s, width 0.2s ease 0.2s;
}

.projects__btn::after {
  top: 0;
  right: -1px;
  width: 1px;
  height: 0;
} .projects__btn:hover::after {
  width: calc(100% + 1px);
  height: calc(100% + 1px);
  -webkit-transition: height 0.2s ease 0.4s, width 0.2s ease 0.6s;
  transition: height 0.2s ease 0.4s, width 0.2s ease 0.6s;
}

.projects__btn-highlight {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: var(--prp);
}

.projects__btn-copy {
  z-index: 1;
}

.contact {
  width: 100%;
  background-color: var(--blk);
  text-align: center;
}

.contact__title {
  margin-bottom: var(--margin);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.contact__list {
  margin: 0;
  padding: 0;
  padding-bottom: calc(var(--margin) * 4);
}

.contact__list li {
  line-height: 1.5;
}

@media (min-width: 769px) {
  .projects__item:nth-of-type(4n + 1) {
    margin-left: var(--margin);
    border-image: linear-gradient(to right, var(--prp), #5958d6) 1;
  }

  .projects__item:nth-of-type(4n + 2) {
    border-image: linear-gradient(to right, #5958d6, #28b4ab) 1;
  }

  .projects__item:nth-of-type(4n + 3) {
    border-image: linear-gradient(to right, #28b4ab, var(--grn)) 1;
  }

  .projects__item:nth-of-type(4n) {
    flex-basis: 93vw;
    margin-left: var(--margin);
    border-image: linear-gradient(to right, var(--prp), var(--grn)) 1;
    text-align: center;
  }
}

@media (max-width: 768px) and (min-width: 481px) {
  .projects__item {
    flex-basis: 45vw;
  }

  .projects__item:nth-of-type(3n + 1) {
    margin-left: var(--margin);
    border-image: linear-gradient(to right, var(--prp), #4282c2) 1;
  }

  .projects__item:nth-of-type(3n + 2) {
    border-image: linear-gradient(to right, #4282c2, var(--grn)) 1;
  }

  .projects__item:nth-of-type(3n) {
    flex-basis: 93vw;
    margin-left: var(--margin);
    border-image: linear-gradient(to right, var(--prp), var(--grn)) 1;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .projects__item {
    flex-basis: 95vw;
  }

  .projects__item {
    margin-left: var(--margin);
    border-image: linear-gradient(to right, var(--prp), var(--grn)) 1;
  }
}
