@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat:200i,400,600i');

body {
	margin: 0;
	font-size: 12px;
}

body * {
	position: relative;
	box-sizing: border-box;
	color: #f8f8f8;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 400;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

h1,
h2 {
	margin: 0 0 16px 0;
	padding: 0;
}

h1 {
	font-size: 2.4em;
	line-height: 1;
}

h2 {
	font-size: 1.6em;
}

p {
	margin: 16px 0;
}

button {
	margin-right: 8px;
	margin-bottom: 8px;
	padding: 8px 24px;
	border: none;
	border-radius: 0;
	background: #424242;
	font-size: 12px;
	cursor: pointer;
	transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
	background-color: #484848;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}

strike {
	font-weight: inherit;
	font-style: inherit;
}

@supports (transform: rotate(0deg)) and (content: '') {
	strike {
		text-decoration: none;
	}

	strike::before,
	strike::after {
		content: '';
		position: absolute;
		display: block;
		top: 50%;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: currentcolor;
	}

	strike::before {
		transform: translateY(-50%) rotate(10deg);
	}

	strike::after {
		transform: translateY(-50%) rotate(-10deg);
	}
}

.font-light {
	font-weight: 200;
}

.font-bold {
	font-weight: 600;
}

.font-i {
	font-style: italic;
}

.text-u-c {
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.container {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #333;
}

	.sidebar {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		width: 240px;
		padding: 24px;
		background-color: #2c2c2c;
		overflow-y: auto;
	}

		.sidebar__subheadline {
			width: 120px;
		}

		.sidebar__links {
			margin: 24px 0;
		}

			.sidebar__link {
				display: block;
				margin-bottom: 4px;
			}

		.sidebar__blurbs {
			width: 120px;
		}

			.sidebar__blurb--dynamic.dontBlink::after {
				content: '';
				position: relative;
				display: inline-block;
				vertical-align: bottom;
				width: 1px;
				height: 0.9em;
				background-color: currentcolor;
				opacity: 0;
				animation-direction: alternate;
				animation-duration: 0.2s;
				animation-iteration-count: infinite;
				animation-name: blink;
			}

	@keyframes blink { to { opacity: 1; } }

	.content {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left:240px;
		padding: 24px;
		overflow-y: auto;
	}

		.content__card {
			display: inline-block;
			vertical-align: top;
			margin-bottom: 24px;
			margin-left: 24px;
			padding: 24px;
			width: 100%;
			min-width: 240px;
			background-color: #3a3a3a;
			transition: transform 0.5s;
		}

	.content__card:hover {
		box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
		transform: scale(1.01) !important;
	}
	
@media (max-width: 400px) {
	.sidebar__subheadline {
		display: none;
	}
}

@media (max-width: 528px) {
	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 1.4em;
	}

	.sidebar {
		display: table;
		right: 0;
		bottom: auto;
		width: 100%;
		height: 80px;
		padding: 0 24px;
	}

		.sidebar__headline,
		.sidebar__subheadline {
			display: table-cell;
			vertical-align: middle;
		}

		.sidebar__headline {
				width: 200px;
		}

		.sidebar__links {
			min-width: 80px;
			font-size: 0.8em;
			text-align: right;
		}

		.sidebar__blurbs {
			display: none;
		}

	.content {
		top: 80px;
		left: 0;
		width: 100%;
	}
}

@media (min-width: 820px) {
	.content__card {
		width: calc(50% - 26px);
	}
}

@media (min-width: 1280px) {
	.content__card {
		width: calc(33.3333% - 26px);
	}
}

@media (min-width: 1920px) {
	.content__card {
		width: calc(25% - 26px);
	}
}

@supports (display: flex) {
	.content {
		display: flex;
		align-items: stretch;
		flex-wrap: wrap;
		justify-content: space-between;
	}

		.content__card {
			margin: 0;
			margin-bottom: 24px;
		}

	@media (min-width: 820px) {
		.content__card {
			width: calc(50% - 12px);
		}
	}

	@media (min-width: 1280px) {
		.content__card {
			width: calc(33.3333% - 12px);
		}
	}

	@media (min-width: 1920px) {
		.content__card {
			width: calc(25% - 12px);
		}
	}
}
