*,
*::before,
*::after {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  transition: transform 0.3s;
}

*:focus {
  outline: none;
  box-shadow: 0px 0px 4px blueviolet;
}

body {
  width: 100vw;
  min-height: 100vh;
  font-family: sans-serif;
  font-size: 14px;
  overflow-x: hidden;
}

header {
  display: table;
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: blueviolet;
  z-index: 1;
}

header > * {
  display: table-cell;
  vertical-align: middle;
}

header h1 {
  color: white;
  font-weight: 100;
  letter-spacing: 0.4em;
  text-align: center;
  text-transform: lowercase;
}

header nav {
  width: 60px;
  height: 100%;
}

header [for=toggleMenu] {
  display: block;
  height: 100%;
}

header [for=toggleMenu] span {
  display: block;
  top: 29px;
  left: 18px;
  width: 24px;
  height: 1px;
  background-color: white;
}

#toggleMenu:checked ~ header [for=toggleMenu] span {
  transform: rotate(45deg);
}

header [for=toggleMenu] span::before,
header [for=toggleMenu] span::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
}

#toggleMenu:checked ~ header [for=toggleMenu] span::before,
#toggleMenu:checked ~ header [for=toggleMenu] span::after {
  transform: rotate(-90deg);
}

header [for=toggleMenu] span::before {
  transform: translateY(-8px);
}

header [for=toggleMenu] span::after {
  transform: translateY(8px);
}

header nav ul {
  position: absolute;
  top: 60px;
  right: 0;
  width: 200px;
  height: calc(100vh - 60px);
  border-left: 1px solid blueviolet;
  list-style: none;
  transform: translateX(100%);
}

#toggleMenu:checked ~ header nav ul {
  transform: translateX(0);
}

header nav ul li {
  padding: 16px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
  cursor: pointer;
}

header [for=toggleTheme] {
  display: block;
  margin-top: 8px;
  width: 48px;
  height: 24px;
  border-radius: 12px;
  background-color: #f04;
  transition: background-color 0.3s;
}

#toggleTheme:checked ~ header [for=toggleTheme] {
  background-color: springgreen;
}

header [for=toggleTheme] span {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background-color: #888;
}

#toggleTheme:checked ~ header [for=toggleTheme] span {
  transform: translateX(100%);
}

main {
  top: 60px;
  padding: 16px;
}

section {
  margin: 0 auto;
  width: calc(100vw - 32px);
  max-width: 640px;
}

section h1 {
  text-align: center;
}

section ul {
  margin-top: 16px;
  list-style: none;
}

section ul li {
  padding: 8px 24px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}

.add-icon::before {
  content: '+';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.add-icon::after {
  content: attr(placeholder);
}

.overlay {
  display: table;
  vertical-align: middle;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 2;
}

.lightboxContainer {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.lightbox {
  display: inline-block;
  margin: 0 auto;
  padding: 16px;
  background-color: white;
  color: black;
  border-radius: 4px;
}

.lightbox span {
  display: inline-block;
  padding: 8px 0;
  cursor: pointer;
}

body[data-theme=dark] {
  background-color: #222;
  color: white;
}