@charset "UTF-8";

@import url("./libs/fontawesome-5.2.0.css");

* {
  position: relative;
  box-sizing: border-box;
  font: inherit;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}



/* RESETS */
body {
  margin: 0;
  font-family: sans-serif;
}



/* ADDITIONAL UTILITIES */
.max-960 {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 960px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}



/* BLOCKS */
.container {
  width: 100vw;
  height: calc(100vh - 100px); /* minus footer height */
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100px;
  text-align: center;
  z-index: 1;

  background-color: blueviolet;
}

.sidebar {
  vertical-align: top;
  width: 240px;
  overflow-y: auto;

  background-color: springgreen;
}

.content {
  vertical-align: top;
  min-height: calc(100vh - 200px); /* minus header and footer height */
}

.footer {
  width: 100%;
  height: 100px;
  background-color: #000;
  text-align: center;
}



/* MEDIA QUERIES */
