.bnmr-video-player {
  width: 100%;
  background: black;
}

  .bnmr-video-player::after {
    content: '';
    display: block;
    padding-top: 56.25%;
  }

  .bnmr-video-player > * {
    position: absolute;
  }
