.container__content {
	display: table;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  perspective: 100vw;
  transform-style: preserve-3d;
}

.container__header {
  display: table-cell;
  vertical-align: middle;
  color: #fff;
  text-align: center;
	text-shadow: 0px 0px 12px #323036;
}

.h1 {
  font-size: 6vw;
  font-weight: 200;
  letter-spacing: 0.4em;
  text-transform: lowercase;
}

.h2 {
  font-size: 4vw;
  font-weight: 700;
  letter-spacing: 0.6em;
  text-transform: uppercase;
}

.starfield {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  animation-direction: normal;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-name: zoom;
  animation-timing-function: linear;
  perspective: 100vw;
  transform: translateZ(-100vw);
  transform-style: preserve-3d;
}

@keyframes zoom {
  0% {
    transform: translateZ(-100vw);
  }

  100% {
    transform: translateZ(100vw);
  }
}

.star {
  position: absolute;
  width: 1px;
  height: 1px;
  background: white;
}
