@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro|Raleway:100,400,700&display=swap');
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');

/*=============================================>>>>>
= Prevent initial animation =
===============================================>>>>>*/

.menu__icon span {
  transform: translate(-50%, -50%);
}

.menu__link {
  opacity: 0;
  transform: rotate(-90deg);
  transform-origin: 100% 0;
}

/*= End of Prevent initial animation =*/
/*=============================================<<<<<*/



*,
*::before,
*::after {
  position: inherit;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font: inherit;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  position: relative;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--bkg-primary);
  font-display: swap;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 14px;
  overflow-x: hidden;

  --bg-primary: #343038;
  --bg-secondary: #646068;
  --bg-tertiary: #949098;

  --text-primary: #f8f4f0;
  --text-secondary: #d8d4d0;
  --text-tertiary: #c8c4c0;

  --accent-primary: #8800ff;
  --accent-secondary: #00ff88;
  --accent-tertiary: #ff0044;

  --vh: 1vh;

}

body[data-darkmode=false] {
  --bg-primary: #f8f4f0;
  --bg-secondary: #d8d4d0;
  --bg-tertiary: #c8c4c0;

  --text-primary: #343038;
  --text-secondary: #646068;
  --text-tertiary: #949098;
}

a,
a:active,
a:focus,
a:visited {
  color: inherit;
}

a::before {
	content: '';
	position: absolute;
	bottom: 1px;
	left: 0;
	width: 100%;
	height: 2px;
	background: currentcolor;
	box-shadow: 0px 0px 4px currentcolor;
	transform: scale(0, 1);
	transform-origin: 100% 50%;
	transition: transform 0.3s;
}

a:hover::before {
	transform: scale(1, 1);
	transform-origin: 0% 50%;
}

a:not([href^='#'])::after {
  content: ' \f35d';
  margin-left: 0px;
  font-family: 'Font Awesome 5 Free';
  font-size: 0.8em;
  font-weight: 900;
  text-decoration: none;
}

button {
  padding: 8px 24px;
  background: transparent;
  border: 1px solid var(--text-primary);
  color: var(--text-primary);
  cursor: pointer;
  transition: color 0.3s;
}

  button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--text-primary);
    transition: transform 0.3s;
    transform-origin: 100% 50%;
    transform: scale(0, 1);
  }

  button:hover::before {
    transform: scale(1, 1);
    transform-origin: 0% 50%;
  }

  button:hover {
    color: var(--bg-primary);
  }

img {
  background-color: var(--bg-secondary);
}

p {
  margin-top: 16px;
  margin-bottom: 16px;
}

ul {
  margin: 0;
}



.hide {
  display: none;
}

.flex {
	display: flex;
}

.flex.wrap {
  flex-wrap: wrap;
}

.flex.justify-space-between {
  justify-content: space-between;
}

.float-left {
	float: left;
}

.mono {
  font-family: 'Source Code Pro', monospace;
}

.list-style-none {
	list-style: none;
}

.scale-075 {
	transform: scale(0.75);
}



@media (max-width: 1080px) {

}

@media (max-width: 768px) {

}

@media (max-width: 480px) {

}
