@import url('./menu.css');

main {
	padding: 24px;
	min-width: 100vw;
	min-height: 100vh;
	min-height: calc(var(--vh) * 100);
	background-color: var(--bkg-primary);
	color: var(--txt-primary);
}

header {
  margin: 0 auto 60px;
  max-width: 960px;
  z-index: 1;
  transform: translateZ(0);
}

	header h1 {
		display: inline-block;
		margin-bottom: 12px;
		font-size: 1.4em;
		font-weight: 400;
		letter-spacing: 0.275em;
		text-transform: lowercase;
	}

		header h1::after {
			content: ' | ';
			display: inline-block;
			margin: 0 8px;
			font-size: 1.5em;
			font-weight: normal;
		}

	header h2 {
		display: inline-block;
		margin-bottom: 12px;
		font-size: 1.2em;
		font-weight: 200;
		letter-spacing: 0.8em;
		text-transform: uppercase;
	}

  header div {
    font-size: 2em;
    font-weight: 100;
    letter-spacing: 0.4em;
    text-transform: uppercase;
	}

section {
  margin: 0 auto;
  max-width: 960px;
  letter-spacing: 0.1em;
  line-height: 1.4;
}
