@charset 'UTF-8';
/* CSS Document */

:root {
  --color1: #f00;
  --color2: #00f;
}

html,
body {
  margin: 0;
}

body {
  padding: 16px;
  font-family: 'Lucida Sans Unicode', Lato, Arial, sans-serif;
}

h2:nth-of-type(1) {
  margin-top: 0;
}

.glitch {
  position: relative;
}

.glitch::before,
.glitch::after {
  content: attr(data-glitch-text);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  animation-name: glitch;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.glitch::before {
  color: var(--color1);
}

.glitch::after {
  color: var(--color2);
  animation-direction: reverse;
}

@keyframes glitch {
  0% {
    transform: translate3d(-0.05em, -0.05em, 0);
  }
  
  25% {
    transform: translate3d(0.05em, 0.05em, 0);
  }
  
  50% {
    transform: translate3d(0.05em, -0.05em, 0);
  }
  
  75% {
    transform: translate3d(-0.05em, 0.05em, 0);
  }
  
  100% {
    transform: translate3d(-0.05em, -0.05em, 0);
  }
}
