@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i|Ubuntu:400,400i,700');

* {
  position: relative;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.dsp-blk {
  display: block;
}

.font-serif {
  font-family: 'Playfair Display', serif;
}

.font-sm {
  color: #000;
  font-size: 0.8em;
}

.font-md {
  color: #101018;
  font-size: 1.2em;
}

.font-lg {
  color: #202028;
  font-size: 1.4em;
}

.font-x-lg {
  color: #303038;
  font-size: 1.8em;
}

.font-b {
  font-weight: 700;
}

.font-i {
  font-style: italic;
}

.text-upp {
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

body {
  margin: 0;
  background-color: #e0e0e8;
  background-image: linear-gradient(0deg, #a8a8af, #e8e8ef);
}

p {
  line-height: 1.5;
}

a,
a:focus,
a:visited {
  color: #303038;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  margin: 0 auto;
  padding: 16px;
  max-width: 720px;
  width: 90%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  background: #f8f8ff;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

  .section {
    margin-bottom: 32px;
  }

      .entry {
        margin: 16px 0;
      }

        input[type=checkbox] {
          display: none;
        }

        input[type=checkbox]:checked ~ .entry__content {
          max-height: 600px;
        }

        label {
          cursor: pointer;
        }

          label::before {
            content: '+';
            content: '\f054';
            position: absolute;
            top: 4px;
            left: 16px;
            font-family: 'FontAwesome';
            font-size: 0.8em;
            -webkit-transform: translateX(-16px);
            transform: translateX(-16px);
          }

          label > * {
            padding-left: 16px;
          }

          input[type=checkbox]:checked + label::before {
            content: '-';
            content: '\f078';
          }

        .entry__content {
          padding-left: 16px;
          max-height: 0;
          overflow: hidden;
          -webkit-transition: max-height 1.5s;
          transition: max-height 1.5s;
        }
