.vplayer {
  margin: 0 auto;
  width: 640px;
  height: 360px;
}

.options {
  margin-top: 16px;
  text-align: center;
}

  .options__button--toggle::after {
    content: ' \A Current: ' attr(data-v-type);
    font-size: 0.8em;
    white-space: pre-wrap;
  }
