.game {
  margin: 0 auto;
  width: 640px;
  height: 360px;
  background: linear-gradient(to bottom, #8cf 0%, #8cf 30%, #860 40%, #860 100%);
  overflow: hidden;
}

  .score,
  .btn--replay {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px 24px;
    font-family: 'Lucida Sans Unicode', Lato, Arial, sans-serif;
    font-size: 16px;
  }

  .btn--replay {
    right: auto;
    left: 0;
    cursor: pointer;
    display: none;
  }

  .burrow {
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 200px;
    background: linear-gradient(to bottom, transparent 0%, transparent 30%, black 30.1%, black 40%, transparent 40.1%, transparent 100%);
  }

  .burrow--1,
  .burrow--2,
  .burrow--3 {
    top: 40%;
  }

  .burrow--1 {
    left: 15%;
  }

  .burrow--2 {
    left: 45%;
  }

  .burrow--3 {
    left: 75%;
  }

  .burrow--4,
  .burrow--5 {
    top: 60%;
  }

  .burrow--4 {
    left: 30%;
  }

  .burrow--5 {
    left: 60%;
  }

    .burrow__mole {
      position: absolute;
      top: 0;
      left: 25%;
      width: 50%;
      height: 50%;
      background-position: center top;
      background-repeat: no-repeat;
      background-size: contain;
      transform: translateY(99%);
      transition: transform 0.3s;
    }

    .burrow__mole.active {
      transform: translateY(0);
    }

    .burrow__mole.good {
      background-image: url('../../../assets/img/good.png');
    }

    .burrow__mole.warning {
      background-image: url('../../../assets/img/warning.png');
    }

    .burrow__mole.bad {
      background-image: url('../../../assets/img/bad.png');
    }

    .burrow__hole {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 66.6667%;
      background-color: #860;
      background: linear-gradient(to top, #860 0%, #860 90%, #000 90.1%, #000 100%);
    }
