body {
  margin: 0;
  box-sizing: border-box;
  color: black;
  font-family: Lato, Arial, sans-serif;
  font-size: 14px;
}

body * {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  font: inherit;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.codeWrapper {
  padding-right: 8px;
  overflow-x: auto;
}
  code {
    width: 100%;
    font-family: monospace;
    white-space: pre;
  }

h1 {
  font-family: serif;
  font-size: 1.6em;
}

h2 {
  padding: 8px;
  width: 100%;
  background-color: #efefef;
  color: #333;
  font-weight: bold;
  letter-spacing: 0.4em;
  text-transform: uppercase;
}

h2:not(:first-of-type) {
  margin-top: 24px;
}

h2:first-of-type {
  margin-top: 8px;
}

p {
  margin: 8px 0;
}

  header {
    display: table;
    position: fixed;
    top: 0;
    left: 0;
    padding: 16px;
    width: 100%;
    height: 100px;
    background-color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    z-index: 2;
  }

    header h1 {
      font-size: 2.4em;
      font-style: italic;
    }

    .header__content {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }

  aside {
    position: fixed;
    top: 100px;
    bottom: 0;
    left: 0;
    padding: 16px;
    width: 240px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    line-height: 1.8;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1;
  }

  main {
    position: fixed;
    top: 100px;
    right: 0;
    bottom: 0;
    left: 240px;
    padding: 16px;
    background-color: #f8f8f8;
    overflow-y: auto;
  }

    section {
      padding: 16px;
      background-color: white;
      border-radius: 8px;
    }

    section:not(:first-of-type) {
      margin-top: 32px;
    }

      section table {
        margin-top: 8px;
        width: 100%;
        background-color: #fafafa;
      }

        section th {
          background-color: #f1f1f1;
          font-size: 0.8em;
          letter-spacing: 0.4em;
          text-align: left;
          text-transform: uppercase;
        }

        section th,
        section td {
          padding: 8px 4px;
        }
